@model IEnumerable<BlowOut_Checkpoint1.Models.Rentals>

@{
    ViewBag.Title = "CheckPrices";
}

<h2>CheckPrices</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.InstrumentCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InstrumentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NewPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UsedPrice)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.InstrumentCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InstrumentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NewPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UsedPrice)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
<div class="card" style="width: 30rem;">
    <div class="card-body">
        <h5 class="card-title">Note</h5>
        <h6 class="card-subtitle mb-2 text-muted">Renting Policy</h6>
        <p class="card-text">that once the 18 months has been achieved, the client owns the instrument. If they return it at any time before 3 months there will be a $200 re-stocking fee. If they return it after 3 months they forfeit any equity in the instrument.</p>
    </div>
</div>